html {
    height: 100%;
}

body{
	background: linear-gradient(180deg,rgba(23,66,115,255) 0%, rgba(1,8,16,255) 35%);
	margin: 0 auto;
    padding-top: 50px;
    max-width: 70%;
    color: #ffffff;
}

.icone {
	background:rgb(30, 84, 233);
	width: 80px; 
	height: auto;
	border-radius: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
}

h1 {
	font-family: 'Roboto Mono', monospace;
    font-size: 3.5em;
    text-align: start;
    color: #63d9fd;
    margin-bottom: 6px;
}

h2 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.perfil {
	width: 250px; 
	height: auto;
	border-radius: 8px;
}

.blue {
	color: #6BD1FF;
}

/* Container centralizado */
.container{
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}
  
/* Bloco com texto e imagem lado a lado */
.bloco{
	position: relative;
	display: flex;
	align-items: center; /* Alinha o texto e a imagem verticalmente */
	gap: 20px; /* Espaçamento entre o texto e a imagem */
}


.botao{
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #6BD1FF;
    cursor: pointer;
    width: 30%;
    font-weight: bold;
    font-size: 18px;
    transition-duration: 0.2s
}

.linhasVerticais{
    max-width: 60%;
    background: repeating-linear-gradient(-60deg,
        rgba(255, 255, 255, 0.61) 0px, 
        rgba(255, 255, 255, 0.61) 1px,   
        transparent 2px,    
        transparent 12px 
        );
}

